.article {
	grid-area: article;
	word-wrap: break-word;
	text-align: justify;
}

.selection_of_text {
	font-weight: 700;
}

.list_of_smth {
	margin-left: initial;
	padding: initial;
	list-style: initial;
	background-color: initial;
}

.list_of_smth li {
	text-align: left;
	width: initial;
	height: initial;
	background-color: initial;
	text-align: justify;
}

.list_of_smth li a {
	color: black;
}

#grid_for_teacher {
	display: grid;
}

#grid_for_designer {
	display: grid;
}

#grid_for_designer a {
	text-decoration: none;
	color: black;
}

#grid_for_designer a:hover {
	border-bottom: 1px solid black;
}

.preface {
	text-align: right;
}

@media screen and (orientation: landscape)
{
	.content {
		grid-template-areas: "dropdown article list_of_subjects";
	}

	.article {
		font-size: 3vh;
		margin-right: 1vw;
	}

	.list_of_smth {
		margin-left: 3.5vw;
	}

	.list_of_smth li {
		font-size: 3vh;
	}

	.list_of_smth li a {
		width: 20vw;
	}

	.list_of_smth li a:hover {
		transform: scale(1.05, 1.05);
	}

	.img_in_article {
		width: 17vw;
		padding-right: .5vw;
		padding-left: .5vw;
	}

	.preface {
		font-size: 1.9vh;
	}

	#grid_for_teacher {
		font-size: 2.3vh;
		grid-template-columns: 11vw 10vw;
		grid-column-gap: 1vw;
		padding-left: .5vw;
	}

	#grid_for_designer {
		float: right;
		font-size: 2.3vh;
		grid-template-columns: 11vw 8vw;
		grid-column-gap: 1vw;
	}

	iframe {
		width: 40vw;
		height: 45vh;
	}
}

@media screen and (orientation: portrait)
{
	.content {
		grid-template-columns: 74% 10%;
		grid-template-rows: auto;
		grid-template-areas:
							"dropdown list_of_subjects"
							"article list_of_subjects"
	}

	.article {
		font-size: 1.5vh;
		margin-left: 1vw;
		margin-right: 1vw;
	}

	.list_of_smth {
		margin-left: 3.5vw;
	}

	.list_of_smth li {
		font-size: 1.5vh;
	}

	.list_of_smth li a {
		width: 30vw;
	}

	.img_in_article {
		width: 25vw;
		padding-right: .5vw;
		padding-left: .5vw;
	}

	.preface {
		font-size: .8vh;
	}

	#grid_for_teacher {
		font-size: .8vh;
		grid-template-columns: 11vw 10vw;
		grid-column-gap: 1vw;
	}

	#grid_for_designer {
		font-size: .8vh;
		grid-template-columns: 11vw 8vw;
		grid-column-gap: 1vw;
	}

	iframe {
		width: 20vw;
		height: 10vh;
	}
}