#subject_or_prof {
	font-weight: 600;
	word-wrap: break-word;
}

.dropdown_and_label {
	display: flex;
	flex-direction: column;
}


@media screen and (orientation: landscape)
{
	#subject_or_prof {
	font-size: 3vh;
	}

	.dropdown_and_label {
		margin-bottom: .5vw;
	}
}

@media screen and (orientation: portrait)
{
	#subject_or_prof {
	font-size: 2.2vh;
	}

	.dropdown_and_label {
		margin-bottom: .5vh;
	}
}