.list_of_proffesions {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: flex-start;
}

@media screen and (orientation: landscape)
{
	.element_of_list {
		width: 15vw;
		margin: 1vh 1vw;
	}
}

@media screen and (orientation: portrait)
{
	.content {
		grid-template-columns: 80% 10%;
		grid-template-rows: auto auto;
		grid-template-areas: 
							"dropdown list_of_subjects"
							"list_of_prof list_of_subjects";
	}

	.list_of_proffesions {
		grid-area: list_of_prof;
		flex-direction: column;
		justify-content: flex-start;
		align-content: center;
	}

	.element_of_list {
		width: 45vw;
	}
}