html {
	height: 98%
}

body {
	font-family: Calibri;
	display: flex;
	flex-direction: column;
	height: 100%;
}

header {
	flex: 0 0 auto;
}

.content {
	display: flex;
	flex-direction: row;
	flex: 1 0 auto;
}

.welcome_shit {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

header {
	text-align: center;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul li {
	background-color: #0395DF;
	text-align: center;
}

ul li a {
	text-decoration: none;
	color: white;
	display: block;
}

ul li ul li{
	display: none;
}

ul li:hover ul li {
	display: block;
}

#ret li a {
	color: white;
	background-color: #0395DF;
}

#welcome_text {
	word-wrap: break-word;
	text-align: center;
}

footer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background-color: #0073BD;
	color: white;
	width: 100%;
	flex: 0 0 auto;
}

footer a {
	color: white;
	text-decoration: none;
}

footer a:hover {
	border-bottom: 1px solid white;
}

@media screen and (orientation: landscape)
{
	ul li {
		width: 12.5vw;
		height: 4.4vh;
		line-height: 4.4vh;
		font-size: 2.3vh;
	}

	footer {
		height: 6.5vh;
		padding-top: .5vh;
		font-size: 1vw;
	}

	.welcome_shit {
		margin-left: 18vw;
		margin-right: 2vw;
	}

	#ret li {
		border: .35vw solid #0395DF;
		border-radius: .4rem;
		margin-bottom: .3vh;
	}

	#ret li:hover {
		transform: scale(1.05, 1.05);
	}

	#head_img {
		width: 31.25vw;
	}

	.welcome_shit {
		/*padding-bottom: 8.1vw;*/
	}

	#welcome_text {
		/*margin: 0 20vw;*/
		font-size: 2.7vh;
	}

	#index_img_1 {
		/*position: absolute;
		top: 17.8vh;*/
		left: 15vw;
		float: left;
		height: 70vh;
	}

	#index_img_2 {
		/*position: absolute;*/
		top: 17.8vh;
		right: 15vw;
		float: right;
		height: 70vh;
	}

	#up_btn {
		align-content: center;
	}

	#up_btn:hover {
		border: none;
		transform: scale(1.05, 1.05)
	}
}

@media screen and (orientation: portrait)
{
	ul {
		top: 13vh;
	}

	ul li {
		width: 17vw;
		height: 1.6vh;
		line-height: 1.6vh;
		font-size: 1.37vh;
		margin-bottom: .25vh;
	}

	#ret {
		position: absolute;
		top: 13vh;
		right: 0.625vw;
	}

	#ret li {
		float: none;
		border: .3vw solid #0395DF;
		border-radius: .6rem;
	}

	#welcome_text {
		margin: 0 20vw;
		font-size: 1.5vh;
	}

	#head_img {
		width: 100vw;
	}

	#index_img_1 {
		position: absolute;
		bottom: 14vh;
		left: 9.5vw;
		width: 38vw;
	}

	#index_img_2 {
		position: absolute;
		bottom: 14vh;
		right: 9.5vw;
		width: 38vw;
	}
}